$black: #121550;
$white: #F7F8FC;
$gray-100: #E3E7F1;
$gray-200: #DBDEED;
$gray-300: #D0D4E7;
$gray-400: #C0C2D3;
$gray-500: #AFB1C9;
$gray-600: #A9AAC0;
$gray-700: #7073B6;
$gray-800: #5C5FAC;
$gray-900: #494CA2;


$blue: #494ca2;
$green: #59CD90;
$yellow: #E6AF2E;
$red: #EE6352;
