<div class="row">
  <div class="col-4">
    <div class="card card-square card-clickable shadow">
      <div class="card-content flexbox-center p-5">
        <small class="display-3">

        </small>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card card-square card-clickable shadow">
      <div class="card-content flexbox-center p-5">
        <small class="display-3">

        </small>
      </div>
    </div>
  </div>
</div>

