.btn-icon {
  @extend .d-block, .h-auto, .w-auto, .p-2;

  line-height: 1;

  &-rounded {
    border-radius: $border-radius;
  }

  &-circle {
    border-radius: 50%;

    svg {
      @extend .icon;
    }
  }

  @each $color-name, $color-code in $theme-colors {
    &-#{$color-name} {
      background: $color-code;

      &:hover {
        background: darken($color-code, 10%);
      }

      svg * {
        fill: color-yiq($color-code);
      }
    }
  }
}
