.document {
  @extend .layer, .d-flex, .flex-column;

  padding: map-get($spacers,  5);

  &-section {
    @extend .w-100;
  }

  &-header {
    @extend .document-section;

    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 50px;
  }

  &-body {
    @extend .document-section, .no-scrollbar;

    overflow-y: scroll;
    height: calc(100% - 10% - 100px);
  }

  &-footer {
    @extend .document-section, .flexbox-center;

    height: auto;
  }
}
