.p {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
}

.multiline {
  line-height: 1.5;
}

.font-weight-light {
  font-weight: $font-weight-light;
}
