<% if flash.any? %>
  <div class="flashes">
    <% user_facing_flashes.each do |key, value| -%>
      <%= render ToastComponent.new(type: key) do %>
        <%= value %>
      <% end %>
    <% end -%>
  </div>
<% end %>
